.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;text-transform: none;color:#2B2B2B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Merriweather';font-weight:normal;font-style:normal;font-size:48px;text-decoration:none;text-transform: none;color:#0C3A5F;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_4 {font-family:'xr3_Open Sans1';font-weight:bold;}
.Heading_3 {font-family:'xr3_Open Sans1';font-weight:bold;font-size:24px;}
.Normal_text_2 {font-size:13px;color:#FFFFFF;}
